


body{height: 100%;
    margin: 0px;
    width: 100%;
}
h1{background-color: blanchedalmond;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    border: solid 2px black;
}
h2{background-color: blanchedalmond;
    padding: 5px;
    font-size:30px;
    text-align: center;
    font-weight: bolder;
    border: solid 5px black;
}
#resultsContainer{
    position: relative;
    padding:5px;
    border: black solid 5px;
    float: left;
    width: 27.8%;
    margin-right: 3px;
    margin-left: 5px;
    height: 335px;
    background-color:  rgb(191, 203, 204);
}

img {
    border: black solid 2px;
    width: 23%;
    height: 350px;
 
}
section{
    margin-top: 5px;
    margin-bottom: 10px;
}
footer{
    
    clear: both;
    background-color: blanchedalmond;
    padding: 10px;
    border: solid 2px black;
    height: 50px;
}
#resultsContainer ul {
    line-height: 13.5pt;

}
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
   
}
#resultsContainer #span1 {
    width: 80px;
    border-radius: 67px;
    position: absolute;
    box-shadow: rgb(75, 94, 126) 3px 3px;
    padding: 6px;
    background-color: burlywood;
    /* margin-top: 290px; */
    border: 2px solid black;
    margin-left: 70%;
    display: inline-block;
    font-size: 23px;
    margin-top: 280px;
    text-align: center;

}
#chart #myChart{
    /* border: darkgrey 5px solid; */
  margin-left: 17%;
  
}
h3{background-color: blanchedalmond;
    padding: 5px;
    font-size:30px;
    text-align: center;
    font-weight: bolder;
    border: solid 5px black;
}